<div class="page">
    <div class="wrapper">
        <div class="overline">介绍</div>

        <h1>高性能<br/>TYPESCRIPT 框架</h1>
    </div>

    <main>
        <div class="overline">概述</div>
        <p class="tagline">
            高性能的 TypeScript 库，以及一个将所有东西聚合在一起的框架。<br/>
            精确的集成，优雅的优化，坚实的工程。
        </p>

        <p>
            <a class="button" routerLink="/blog/introducing-deepkit-framework">阅读介绍</a>
        </p>

        <div class="two-column feature-with-code">
            <div>
                <div class="overline">TYPESCRIPT</div>
                <h2>运行时类型</h2>

                <p class="feature-text">
                    一个由 TypeScript 类型驱动的，为 JavaScript 打造的运行时类型系统。
                    DeepKit 的类型编译器创新地使得在任何 JavaScript 运行时中使用整个 TypeScript 类型系统成为可能，
                    解锁了全新的编写数据驱动的应用的方式。
                </p>
            </div>
            <div class="code-box">
                <textarea codeHighlight>
                    type status = 'pending' | 'running' | 'finished';
                    // ['pending', 'running', 'finished']
                    valuesOf<status>();


                    interface User {
                        id: integer & PrimaryKey;
                        created: Date;
                        username: string & MaxLength<3> & Unique;
                        email: Email;
                        firstName?: string;
                        lastName?: string;
                    }

                    // 对计算后的类型信息取得完全访问
                    const reflection = ReflectionClass.from<User>();

                    // 任何类型表达式的类型信息
                    // {kind: ReflectionKind.class, types: [...]
                    typeOf<Pick<User, 'id' | 'username'>>();
                </textarea>
            </div>
        </div>

        <div class="feature-framework">
            <table>
                <tr>
                    <td rowspan="2">
                        ORM
                        <p>
                            MySQL, PostgreSQL, SQLite, MongoDB
                        </p>
                    </td>
                    <td rowspan="2">运行时<br/>类型</td>
                    <td>验证</td>
                    <td style="width: 250px;" colspan="2">反射</td>
                </tr>
                <tr>
                    <td>序列化</td>
                    <td colspan="2">工作流引擎</td>
                </tr>
                <tr>
                    <td>HTTP 路由器</td>
                    <td style="background: transparent" rowspan="3" colspan="2">
                        <h2>框架</h2>
                        <p class="feature-text">
                            一个将所有的衍生的库组合在一起的框架，使得 Web 应用开发比以往更快速、更高效、更简单。
                        </p>
                    </td>
                    <td colspan="2">事件系统</td>
                </tr>
                <tr>
                    <td>配置</td>
                    <td>Broker</td>
                    <td>模块</td>
                </tr>
                <tr>
                    <td>分析器</td>
                    <td>调试器</td>
                    <td>BSON</td>
                </tr>
                <tr>
                    <td>模板引擎</td>
                    <td colspan="2">依赖注入</td>
                    <td>RPC</td>
                    <td>CLI</td>
                </tr>
            </table>
        </div>

        <div class="two-column feature-with-code">
            <div>
                <div class="overline">TYPESCRIPT</div>
                <h2>类型之美</h2>

                <p class="feature-text">
                    强大的带有类型表达式的依赖注入容器，使得 HTTP 路由、CLI 命令 以及 RPC 控制器安全、快速且易于编写。
                </p>

                <p class="feature-text">
                    无需 json 配置文件、不必要的样板、架构文件 或是代码生成：
                    充分利用 TypeScript 以完全释放其全部能力。
                </p>
            </div>
            <div class="code-box">
                <textarea codeHighlight>
                    class UserAPI {
                        constructor(private database: Database) {
                        }

                        @http.GET('/user/:id')
                        async user(id: integer & Positive): Promise<User> {
                            return await this.database.query(User)
                                .filter({id})
                                .findOne();
                        }

                        @http.GET('/user')
                        async users(
                            limit: HttpQuery<integer> & Maximum<100> = 10
                        ): Promise<User[]> {
                            return await this.database.query(User)
                                .limit(limit)
                                .find();
                        }
                    }

                    new App({
                        controllers: [UserAPI],
                        imports: [new FrameworkModule()]
                    }).run();
                </textarea>
            </div>
        </div>

        <div class="feature-block">
            <div class="overline">开发工具</div>
            <h2>调试器</h2>

            <p class="feature-text">
                Web 框架中最高级的开发体验之一。
            </p>

            <image-slider>
                <image src="/assets/screenshots-profiler/overview.png"></image>
                <image src="/assets/screenshots/debugger-http.png"></image>
                <image src="/assets/screenshots/debugger-http-light.png"></image>
                <image src="/assets/screenshots/debugger-modules.png"></image>
                <image src="/assets/screenshots/debugger-events.png"></image>
                <image src="/assets/screenshots/debugger-configuration.png"></image>
                <image src="/assets/screenshots/debugger-api-http.png"></image>
            </image-slider>
        </div>

        <div class="feature-block">
            <h2>API 控制台</h2>

            <p class="feature-text">
                无需任何外部工具，直接在浏览器中调试 HTTP 与 RPC 的 API。
                为公开或私密受众从 TypeScript 类型定义全自动生成文档。
            </p>

            <image-slider>
                <image src="/assets/screenshots/api-console-http-get.png"></image>
                <image src="/assets/screenshots/api-console-http-post.png"></image>
                <image src="/assets/screenshots/api-console-overview.png"></image>
                <image src="/assets/screenshots/api-console-overview-detail.png"></image>
                <image src="/assets/screenshots/api-console-overview-detail-get.png"></image>
            </image-slider>
        </div>

        <div class="two-column feature-block">
            <div style="flex-basis: 65%">
                <div class="overline">未来</div>
                <h2>同构 TYPESCRIPT</h2>

                <p class="feature-text">
                    双栈是过去的遗物。同构的 TypeScript 使你可以使用相同的语言编写前端、后端、CLI 工具、微服务、应用，及更多。其单栈的本质拥有在整个应用场景下共享
                    代码、知识、接口的巨大潜能。
                </p>

                <p class="feature-text">
                    DeepKit 提供高度优化且可完美互操作解决方案、库和工具，使得同构 TypeScript 取得胜利 —— 在浏览器和 Node。
                </p>
            </div>
            <div style="text-align: right; flex-basis: 35%">
                <img alt="TypeScript logo" src="/assets/images/typescript-logo.svg"/>
            </div>
        </div>

        <div class="feature-block">
            <h2>高性能</h2>

            <p class="feature-text">
                从开发过程到执行过程的每个细节都表现出高性能。
            </p>
            <p class="feature-text">
                我们致力于构建一个利用同构 TypeScript 强大功能的框架，和一个经过完美优化以相互协作的库生态系统，使你能够比以往任何时候都更快地构建应用。
            </p>

            <div class="banner-features">
                <div>
                    <h3>高性能 ORM</h3>
                    <div>
                        <performance-chart yAxis="ms / SQLite query 10k records">
                            <performance-entry title="Sequelize" [value]="70.08"></performance-entry>
                            <performance-entry title="MikroORM" [value]="40.76"></performance-entry>
                            <performance-entry title="Prisma" [value]="37.59"></performance-entry>
                            <performance-entry title="TypeORM" [value]="28.33"></performance-entry>
                            <performance-entry title="Deepkit ORM" [value]="7.69"></performance-entry>
                        </performance-chart>
                    </div>
                </div>

                <div>
                    <h3>最快的 MongoDB</h3>
                    <div>
                        <performance-chart yAxis="ms / MongoDB query 10k records">
                            <performance-entry title="Mongoose" [value]="160.59"></performance-entry>
                            <performance-entry title="MikroORM" [value]="89.95"></performance-entry>
                            <performance-entry title="TypeORM" [value]="28.012"></performance-entry>
                            <performance-entry title="Raw MongoClient" [value]="24.64"></performance-entry>
                            <performance-entry title="Deepkit ORM" [value]="12.56"></performance-entry>
                        </performance-chart>
                    </div>
                </div>
            </div>
            <div class="wrapper benchmark-link">
                <a routerLink="/benchmarks">关于我们的基准的更多信息</a>
            </div>
        </div>

        <div class="feature-block" style="text-align: center;">
            <h2>模块化</h2>
            <p class="feature-text">
                将应用分割成多个模块并将本该一起的东西放在一起。
            </p>

            <image style="max-width: 506px; margin-top: 50px;" src="/assets/images/modular.png"></image>
        </div>

        <div class="feature-block">
            <div class="overline">现在</div>
            <h2>让我们出发吧</h2>

            <p class="feature-text">
                开始了解崭新的运行时类型系统。
            </p>

            <a class="button big" routerLink="/documentation/framework">起步</a>
        </div>

    </main>
</div>
